@import "~normalize.css/normalize.css";
@import "~susy/sass/susy";
$susy: (  global-box-sizing: border-box, gutter-position: inside );
@include border-box-sizing;

.logo-rede {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyOS42ODVweCIgaGVpZ2h0PSIzM3B4IiB2aWV3Qm94PSIwIDAgMjkuNjg1IDMzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyOS42ODUgMzMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IGZpbGw9IiM0NDQ0NDQiIHdpZHRoPSIyOS42ODUiIGhlaWdodD0iMzMiLz48Zz48Zz48Zz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjcuMTI4LDE1LjQxNWwtMC4wMi0wLjA1NGMtMC40MTQtMC44MDEtMC44MTMtMS41MzItMS4xOTctMi4yMzdjLTAuMzU3LTAuNjU1LTAuNzI3LTEuMzMzLTEuMTA3LTIuMDY4bC0wLjAzMS0wLjA1NWwwLDBjMC0wLjAwNC0wLjAwNC0wLjAwNy0wLjAwNi0wLjAxMWwtMC4wMDItMC4wMDVsMCwwYy0wLjUwOC0wLjg1OC0xLjQzNi0xLjQxNC0yLjI0Mi0xLjMzM2wwLDBsLTAuMDEsMC4wMDFjLTAuOTI4LDAuMTQzLTEuODY1LDAuNDA2LTIuNzcsMC42NjFjLTEuMSwwLjMxLTIuMjM2LDAuNjI5LTMuMzQ4LDAuNzI2Yy0wLjYwNC0wLjA0MS0xLjE3LTAuMTk5LTEuNzIxLTAuMzUzYy0wLjkzOS0wLjI2My0xLjkxLTAuNTM1LTIuOTg4LTAuMTY4Yy0xLjM4NSwwLjQ1NS0yLjcyMywxLjAxMS0zLjkwNCwxLjUwMWMtMC40OTIsMC4yMDQtMC45NjMsMC40LTEuNDEsMC41NzdsMC4wMDIsMC4wMDVjLTIuMTEzLDAuODE5LTMuMTU0LDIuNDg5LTMuMDEsNC44NjVsMCwwbDAuMDAyLDAuMDA3YzAuMTcsMS44MTMsMC45NjMsMy4wNTYsMi4zNTksMy43MDJjMS42OTMsMS4wNzQsNS40NzEsMS44OTIsNi4zMTQsMi4wMzdjMC41MiwwLjA5NiwxLjA5LDAuMTQzLDEuNjg5LDAuMTQyYzMuNDAyLDAsNy44NDQtMS40NzksMTAuNjk1LTMuNjgzbDAuMDE4LTAuMDE2QzI1LjczNywxOC42MjgsMjcuNTA3LDE3LjIxOSwyNy4xMjgsMTUuNDE1eiBNMTEuODI1LDEwLjkyMmMwLjk1MS0wLjMyNCwxLjgxNi0wLjA4MiwyLjczMiwwLjE3NWMwLjU3NiwwLjE2MiwxLjE3MiwwLjMyOCwxLjgyNiwwLjM3bDAuMDE2LDBsMC4wMTYtMC4wMDFjMS4xNTgtMC4wOTgsMi4zMjItMC40MjYsMy40NDctMC43NDJjMC44ODktMC4yNSwxLjgxMy0wLjUwOSwyLjcxMS0wLjY0OGMwLjU3OC0wLjA1NywxLjI3MSwwLjM0MiwxLjcwNSwwLjk1MWMtMC41MzksMS41Mi0xLjM0OCwyLjU1My0yLjczLDMuODYzYy0yLjA5NCwwLjA0My00LjQyOC0wLjQ2Ny02Ljc2OC0xLjQ4NWMtMS41MjUtMC41NDktMy44NC0xLjM4Mi02LjIzMi0xLjI0QzkuNTY1LDExLjc0NSwxMC42ODMsMTEuMjk4LDExLjgyNSwxMC45MjJ6IE0yMC44NDcsMTUuNTM3Yy0yLjEwOSwxLjY5MS02Ljk4Miw1LjEzOC0xMS45NzUsNS40NjFjLTEuNDI2LTEuMzA1LTEuNzUtMi45MDctMS43NjgtNC4wMzJjLTAuMDI1LTEuNjYyLDAuNjE5LTMuNDA4LDEuNjA5LTQuMzgxYzIuMjU4LTAuMDk3LDQuNDU3LDAuNjkzLDUuOTA0LDEuMjEzYzIuMjE1LDAuOTYzLDQuNDM5LDEuNDgyLDYuNDcxLDEuNTE3QzIxLjAxMSwxNS4zODksMjAuOTI5LDE1LjQ2MSwyMC44NDcsMTUuNTM3eiBNMy43OTYsMTcuNDM4Yy0wLjEzNS0yLjIyLDAuODA3LTMuNzE3LDIuNzkxLTQuNDYyYzAuNDk0LTAuMTcsMC45OTgtMC4yNzksMS41LTAuMzRjLTAuODgzLDEuMDg2LTEuNDM4LDIuNzUyLTEuNDE0LDQuMzM3YzAuMDE4LDEuMTI2LDAuMzIyLDIuNzAxLDEuNjEzLDQuMDVjLTAuNzk5LDAuMDExLTEuNTk4LTAuMDYtMi4zODUtMC4yMzdDNC42NDIsMjAuMTk5LDMuOTU0LDE5LjEwNSwzLjc5NiwxNy40Mzh6IE0yNC4xNTcsMTkuMzM3Yy0zLjI2OCwyLjUyOC04LjY2OCw0LjA3OS0xMi4wNDEsMy40NTZjLTAuNTUxLTAuMDk0LTMuMTExLTAuNjM3LTQuOTUzLTEuMzgyYzUuNzA1LDAuNDk1LDExLjU3OC0zLjYzNiwxMy45NjEtNS41NDhsMC4wMS0wLjAwOWwwLDBjMS43MjMtMS41NTEsMi43NjItMi42OTQsMy40MjItNC4zNDRjMC4zMzQsMC42MzcsMC42NiwxLjIzNSwwLjk3NywxLjgxNGMwLjM3OSwwLjY5NywwLjc3MywxLjQxNywxLjE4LDIuMjAzQzI3LjAxMywxNy4wNjUsMjUuNDQsMTguMzE3LDI0LjE1NywxOS4zMzd6Ii8+PC9nPjwvZz48L2c+PC9zdmc+);
  width: 2.2em;
  height: 2.6em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 .5em;
  background-size: contain;
}

body {
  background-color: #dadad5;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2 {
  text-transform: uppercase;
  color: #444;
}

h1 {
  font-size: 3.2em;
}

.container {
  @include container(65em);
}

.footer,
.topbar {
  background-color: #444444;
  color: #dadad5;
  a {
    color: #dadad5;
  }
}

.footer {
  @include span(100%);
  padding: .5em 0;
  margin-top: 4em;
  text-align: center;
}
.menuItem:hover {
	text-shadow: 0px 0px 10px rgba(200, 200, 200, 1);
}
.menuItem--redes {
  line-height: 1.5em;
  float: right;
  margin: .5em 0 0 1.5em;

  i { font-size: 1.5em; }
}

.header {
  background-color: #319d8b;
  h1, p {
    @include span(50%);
    color: #fff;
  }
	a:visited {
		color: #fff;
	}
}

.video-featured {
  @include span(100%);
  margin: 4em 0 0;
}

.youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;

}

.youtube .play {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ +CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
    background-size: 6em 6em;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}

.youtube .play:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}


.themes-group {
  @include span(100%);

  h2 {
    font-size: 3em;
    margin: 1.2em 0 .5em 0;
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0 auto 2em;
    width: 85%;
		color: #444;
  }
	text-align: center;
}

.theme-details {
	display: inline-block;
	width: 19%;
	//border-right: .5em solid #dadad5;
	background-color: #319d8b;
	//height: 9.8em;
	padding: 0;
	margin-right: 1%;
	margin-bottom: .5%;

	&:hover {
		box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.75);
	}

	img {
		max-width: 100%;
		display: block;
	}
}

.theme-details--posicoes,
.theme-details--marina {
	height: 5.5em;
	text-transform: uppercase;
	color: #dadad5;
	text-align: left;
	padding: .8em;
}
.theme-details--posicoes {
	background-color: #319d8b;
}
.theme-details--marina {
	background-color: #2eb6c2;
}

.page-actions {
  @include span(100%)
  text-align: center;
  margin: 2em 0 0;

  .button {
    margin: 0 1.5em;
  }
}

.button {
  display: inline-block;
  padding: 1em;
  background-color: #444;
  color: #fff;
  vertical-align: top;
  line-height: 2em;
  i {
    margin: 0 .5em 0 0;
    font-size: 2em;
    vertical-align: top;
  }

	&:hover {
		box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.75);
	}
}

.button--twitter { background-color: #1da1f2; }
.button--facebook { background-color: #3b5998; }

@media (max-width: 768px) {
  h1, .themes-group h2 {
    font-size: 2.3em;
  }

  .header {
    h1, p {
      @include span(100%);
      text-align: center;
      margin: .5em 0;
    }
  }

  .themes-group p {
    width: 95%;
  }
}
